// http://ionicframework.com/docs/v2/theming/


// App Shared Imports
// --------------------------------------------------
// These are the imports which make up the design of this app.
// By default each design mode includes these shared imports.
// App Shared Sass variables belong in app.variables.scss.
/* tamil */
@font-face {
    font-family: 'Catamaran';
    font-style: normal;
    font-weight: 100;
    src: local('Catamaran Thin'), local('Catamaran-Thin'), url("../fonts/catamaran/catamaran-100.ttf") format('truetype'), url("../fonts/catamaran/catamaran-100.woff") format('woff');
    unicode-range: U+0964-0965, U+0B82-0BFA, U+200B-200D, U+20B9, U+25CC;
}
/* latin-ext */
@font-face {
    font-family: 'Catamaran';
    font-style: normal;
    font-weight: 100;
    src: local('Catamaran Thin'), local('Catamaran-Thin'), url("../fonts/catamaran/catamaran-100.ttf") format('truetype'), url("../fonts/catamaran/catamaran-100.woff") format('woff');
    unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Catamaran';
    font-style: normal;
    font-weight: 100;
    src: local('Catamaran Thin'), local('Catamaran-Thin'), url("../fonts/catamaran/catamaran-100.ttf") format('truetype'), url("../fonts/catamaran/catamaran-100.woff") format('woff');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* tamil */
@font-face {
    font-family: 'Catamaran';
    font-style: normal;
    font-weight: 200;
    src: local('Catamaran ExtraLight'), local('Catamaran-ExtraLight'), url("../fonts/catamaran/catamaran-200.ttf") format('truetype'), url("../fonts/catamaran/catamaran-200.woff") format('woff');
    unicode-range: U+0964-0965, U+0B82-0BFA, U+200B-200D, U+20B9, U+25CC;
}
/* latin-ext */
@font-face {
    font-family: 'Catamaran';
    font-style: normal;
    font-weight: 200;
    src: local('Catamaran ExtraLight'), local('Catamaran-ExtraLight'), url("../fonts/catamaran/catamaran-200.ttf") format('truetype'), url("../fonts/catamaran/catamaran-200.woff") format('woff');
    unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Catamaran';
    font-style: normal;
    font-weight: 200;
    src: local('Catamaran ExtraLight'), local('Catamaran-ExtraLight'), url("../fonts/catamaran/catamaran-200.ttf") format('truetype'), url("../fonts/catamaran/catamaran-200.woff") format('woff');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* tamil */
@font-face {
    font-family: 'Catamaran';
    font-style: normal;
    font-weight: 300;
    src: local('Catamaran Light'), local('Catamaran-Light'), url("../fonts/catamaran/catamaran-300.ttf") format('truetype'), url("../fonts/catamaran/catamaran-300.woff") format('woff');
    unicode-range: U+0964-0965, U+0B82-0BFA, U+200B-200D, U+20B9, U+25CC;
}
/* latin-ext */
@font-face {
    font-family: 'Catamaran';
    font-style: normal;
    font-weight: 300;
    src: local('Catamaran Light'), local('Catamaran-Light'), url("../fonts/catamaran/catamaran-300.ttf") format('truetype'), url("../fonts/catamaran/catamaran-300.woff") format('woff');
    unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Catamaran';
    font-style: normal;
    font-weight: 300;
    src: local('Catamaran Light'), local('Catamaran-Light'), url("../fonts/catamaran/catamaran-300.ttf") format('truetype'), url("../fonts/catamaran/catamaran-300.woff") format('woff');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* tamil */
@font-face {
    font-family: 'Catamaran';
    font-style: normal;
    font-weight: 400;
    src: local('Catamaran'), local('Catamaran-Regular'), url("../fonts/catamaran/catamaran-400.ttf") format('truetype'), url("../fonts/catamaran/catamaran-400.woff") format('woff');
    unicode-range: U+0964-0965, U+0B82-0BFA, U+200B-200D, U+20B9, U+25CC;
}
/* latin-ext */
@font-face {
    font-family: 'Catamaran';
    font-style: normal;
    font-weight: 400;
    src: local('Catamaran'), local('Catamaran-Regular'), url("../fonts/catamaran/catamaran-400.ttf") format('truetype'), url("../fonts/catamaran/catamaran-400.woff") format('woff');
    unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Catamaran';
    font-style: normal;
    font-weight: 400;
    src: local('Catamaran'), local('Catamaran-Regular'), url("../fonts/catamaran/catamaran-400.ttf") format('truetype'), url("../fonts/catamaran/catamaran-400.woff") format('woff');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* tamil */
@font-face {
    font-family: 'Catamaran';
    font-style: normal;
    font-weight: 500;
    src: local('Catamaran Medium'), local('Catamaran-Medium'), url("../fonts/catamaran/catamaran-500.ttf") format('truetype'), url("../fonts/catamaran/catamaran-500.woff") format('woff');
    unicode-range: U+0964-0965, U+0B82-0BFA, U+200B-200D, U+20B9, U+25CC;
}
/* latin-ext */
@font-face {
    font-family: 'Catamaran';
    font-style: normal;
    font-weight: 500;
    src: local('Catamaran Medium'), local('Catamaran-Medium'), url("../fonts/catamaran/catamaran-500.ttf") format('truetype'), url("../fonts/catamaran/catamaran-500.woff") format('woff');
    unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Catamaran';
    font-style: normal;
    font-weight: 500;
    src: local('Catamaran Medium'), local('Catamaran-Medium'), url("../fonts/catamaran/catamaran-500.ttf") format('truetype'), url("../fonts/catamaran/catamaran-500.woff") format('woff');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* tamil */
@font-face {
    font-family: 'Catamaran';
    font-style: normal;
    font-weight: 600;
    src: local('Catamaran SemiBold'), local('Catamaran-SemiBold'), url("../fonts/catamaran/catamaran-600.ttf") format('truetype'), url("../fonts/catamaran/catamaran-600.woff") format('woff');
    unicode-range: U+0964-0965, U+0B82-0BFA, U+200B-200D, U+20B9, U+25CC;
}
/* latin-ext */
@font-face {
    font-family: 'Catamaran';
    font-style: normal;
    font-weight: 600;
    src: local('Catamaran SemiBold'), local('Catamaran-SemiBold'), url("../fonts/catamaran/catamaran-600.ttf") format('truetype'), url("../fonts/catamaran/catamaran-600.woff") format('woff');
    unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Catamaran';
    font-style: normal;
    font-weight: 600;
    src: local('Catamaran SemiBold'), local('Catamaran-SemiBold'), url("../fonts/catamaran/catamaran-600.ttf") format('truetype'), url("../fonts/catamaran/catamaran-600.woff") format('woff');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* tamil */
@font-face {
    font-family: 'Catamaran';
    font-style: normal;
    font-weight: 700;
    src: local('Catamaran Bold'), local('Catamaran-Bold'), url("../fonts/catamaran/catamaran-700.ttf") format('truetype'), url("../fonts/catamaran/catamaran-700.woff") format('woff');
    unicode-range: U+0964-0965, U+0B82-0BFA, U+200B-200D, U+20B9, U+25CC;
}
/* latin-ext */
@font-face {
    font-family: 'Catamaran';
    font-style: normal;
    font-weight: 700;
    src: local('Catamaran Bold'), local('Catamaran-Bold'), url("../fonts/catamaran/catamaran-700.ttf") format('truetype'), url("../fonts/catamaran/catamaran-700.woff") format('woff');
    unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Catamaran';
    font-style: normal;
    font-weight: 700;
    src: local('Catamaran Bold'), local('Catamaran-Bold'), url("../fonts/catamaran/catamaran-700.ttf") format('truetype'), url("../fonts/catamaran/catamaran-700.woff") format('woff');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* tamil */
@font-face {
    font-family: 'Catamaran';
    font-style: normal;
    font-weight: 800;
    src: local('Catamaran ExtraBold'), local('Catamaran-ExtraBold'), url("../fonts/catamaran/catamaran-800.ttf") format('truetype'), url("../fonts/catamaran/catamaran-800.woff") format('woff');
    unicode-range: U+0964-0965, U+0B82-0BFA, U+200B-200D, U+20B9, U+25CC;
}
/* latin-ext */
@font-face {
    font-family: 'Catamaran';
    font-style: normal;
    font-weight: 800;
    src: local('Catamaran ExtraBold'), local('Catamaran-ExtraBold'), url("../fonts/catamaran/catamaran-800.ttf") format('truetype'), url("../fonts/catamaran/catamaran-800.woff") format('woff');
    unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Catamaran';
    font-style: normal;
    font-weight: 800;
    src: local('Catamaran ExtraBold'), local('Catamaran-ExtraBold'), url("../fonts/catamaran/catamaran-800.ttf") format('truetype'), url("../fonts/catamaran/catamaran-800.woff") format('woff');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* tamil */
@font-face {
    font-family: 'Catamaran';
    font-style: normal;
    font-weight: 900;
    src: local('Catamaran Black'), local('Catamaran-Black'), url("../fonts/catamaran/catamaran-900.ttf") format('truetype'), url("../fonts/catamaran/catamaran-900.woff") format('woff');
    unicode-range: U+0964-0965, U+0B82-0BFA, U+200B-200D, U+20B9, U+25CC;
}
/* latin-ext */
@font-face {
    font-family: 'Catamaran';
    font-style: normal;
    font-weight: 900;
    src: local('Catamaran Black'), local('Catamaran-Black'), url("../fonts/catamaran/catamaran-900.ttf") format('truetype'), url("../fonts/catamaran/catamaran-900.woff") format('woff');
    unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Catamaran';
    font-style: normal;
    font-weight: 900;
    src: local('Catamaran Black'), local('Catamaran-Black'), url("../fonts/catamaran/catamaran-900.ttf") format('truetype'), url("../fonts/catamaran/catamaran-900.woff") format('woff');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
ion-app {
    font-family: 'Catamaran';
    font-weight: 400;
}
ion-nav {
    background: #fefefe;
}

@import "../pages/summary/summary";
